@import "./colors.css";

header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: var(--color-water-10);
  color: var(--color-granite);
}
