/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  border: double 2px skyblue;
  border-radius: 20px 0px;
  color: white;
  background-color: rgb(217, 131, 131);
}

.button2 {
  width: 100px;
  border: dotted 5px black;
  height: 100px;
  border-radius: 400px;
  text-align: center;
  color: skyblue;
  background-color: lemonchiffon;
}

.button3 {
  height: 400px;
  width: 50px;
  text-align: left;
  margin-left: 500px;
  padding-left: 0;
  font-family: monospace;
}

.button4 {
  box-shadow: 50px 10px 10px rgb(217, 131, 131);
  margin-right: 400px;
  margin-bottom: 1000px;
}

/* Feel free to play around with other properties, as well. */
